*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

.container{
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* hero section */
.hero{
  background-color: #1f2937;
}

.hero .navigation{
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #f9faf8;
}

.navigation ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation ul li a{
  text-decoration: none;
  color: #e5e7eb;
}

.hero .hero-content{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-top: 75px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.hero-content .hero-text{
  flex: 1;
}

.hero-text h1{
  color: #f9faf8;
  font-size: 4rem;
  /* line-height: 1em; */
  margin-bottom: 5px;
}

.hero-text p{
  color: #e5e7eb;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.hero-text button{
  font-size: 1rem;
  font-weight: bold;
  color: #f9faf8;
  border: none;
  background-color: #3882f6;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.hero-content .hero-img{
  flex: 1;
  background-color: #929599;
  color: #f9faf8;
  /* min-height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards-section */
.card-section{
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-bottom: 100px;
}

.card-section h2{
  text-align: center;
  font-size: 2rem;
  color: #1f2937;
  margin-bottom: 50px;
}

.cards{
  display: flex;
  gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card .card-border{
  aspect-ratio: 1;
  border-radius: 0.5rem;
  border: 2px solid #3882f6;
}

.card .card-text{
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: rgb(137, 137, 137);
}

.quote-section{
  padding-block: 100px;
  background-color: rgb(235, 235, 235);
}

.quote-container{
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #1f2937;
}

.quote-container .text{
  margin-left: 60px;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.quote-container .author{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 30px;
}

.cta-section{
  background-color: #3882f6;
  border-radius: 0.5rem;
  margin-block: 100px;
  padding-block: 50px;
}

.cta-container{
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-container .cta-left{
  color: #f9faf8;
}

.cta-left h2{
  font-size: 1.5rem;
}

.cta-left p{
  font-weight: 300;
  font-size: 1.2rem;
}

.cta-container button{
  font-size: 1rem;
  font-weight: bold;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  background: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

footer{
  font-size: 1.2rem;
  color: #f9faf8;
  background-color:  #1f2937;
  text-align: center;
  padding: 50px;
}